{% extends 'main.html'%}
{% block title%}  Login {% endblock%}
{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6"><br>
        <h1 class="text-white text-center">Exam Ended</h1>

        <table class="table table-striped table-hover table-bordered bg-white">

            <tr>
                <td>Result :</td>
                <td>PASS / FAIL</td>
            </tr>
            <tr>
                <td>Attempt Answer :</td>
                <td>{{attempt}}</td>
            </tr>
            <tr>
                <td>Correct Answer :</td>
                <td>{{correct}}</td>
            </tr>
            <tr>
                <td>Wrong Answer :</td>
                <td>{{wrong}}</td>
            </tr>
            <tr>
                <td>Missed Answer :</td>
                <td>{{missed}}</td>
            </tr>
            <tr>
                <td>Percentage :</td>
                <td>{{myresult.percentage}} %</td>
            </tr>
            <tr>
                <td>Status :</td>
                <td>{{myresult.status}}</td>
            </tr>

        </table>
        <div class="float-right"><a href="{% url 'logouts'%}" class="btn btn-danger">Logout</a>
        </div>

        <div class="col-md-3"></div>
    </div>

    {% endblock %}