{% extends 'main.html'%}
{% block title%}  Login {% endblock%}
{% block body %}
<div class="row">

    <div class="col-xm-8 col-sm-10 col-md-6 col-lg-4"></div>
    <div class="col-xm-8 col-sm-10 col-md-6 col-lg-4">
        {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        {% load static %}



        <form  autocomplete="off" method="POST" enctype="multipart/form-data" class="rounded bg-white m-4">
         <h3 class="text-center m-4" style="color: #1c4aa0;;">

            Student <span class="pcolor">Log</span>in <span class="gcolor">Page</span></h3>


     {% csrf_token %}

<!--            <div class="img-b" ><img src="{% static 'l.gif'%}" width="100%"></div>-->
    <p><input type="number" name="username" autocomplete="off" placeholder="Roll No" class="form-control"></p>
    <p><input type="password" name="password" placeholder="password" class="form-control"></p>

    <button type="submit" class="btn btn-success">login</button>
            <p></p>
             <a href="{% url 'forget_password'%}"> Forget Password?</a>
            <p class="m-2">Don't Have Account?</p>
            <a href="{% url 'student_signup'%}" class="btn btn-primary">Register New Account</a>

            <div class="text-center mt-4 mb-4"><a href="{% url 'help'%}" class="text-danger" > Need Help?</a>
</div>
</form>

    </div>
    <div class="col-xm-8 col-sm-10 col-md-6 col-lg-4"></div>
</div>

{% endblock %}

