{% extends 'main.html'%}

{% block title%} {{stu}} View Customer {% endblock%}
{% block body %}
<h1 class="text-center text-white m-4">Stduent Information</h1>


<br>
<div class="row">


    <div class="col-xm-12 col-xm-12 col-md-6 col-lg-6">

        <div class="card">
            <div class="card-header">

                <img src="{{one_student.photo.url}}" class="img-thumbnail" width="120px"></td>

            </div>
            <div class="card-body">
                <table class="table table-bordered table-hover">

                    <tr>
                        <td>Student Name:</td>
                        <td>{{one_student.name}}</td>
                    </tr>
                    <tr>
                        <td>Mobile:</td>
                        <td>{{one_student.mobile}}</td>
                    </tr>

                    <tr>
                        <td>Adharcard:</td>
                        <td>{{one_student.aadhar}}</td>
                    </tr>

                    <tr>
                        <td>Address:</td>
                        <td>{{one_student.address}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{one_student.email}}</td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td>{{one_student.gender}}</td>
                    </tr>
                    <tr>
                        <td>Course:</td>
                        <td>{{one_student.course}}</td>
                    </tr>
                    <tr>
                        <td>Roll NO:</td>
                        <td>{{one_student.rollno}}</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>{{one_student.password}} Contact to Admin</td>
                    </tr>

                </table>


            </div>
            <div class="card-footer"><a href="/" class="btn btn-info">Back</a></div>
        </div>

    </div>
    <div class="col-xm-12 col-xm-12 col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header bg-warning">


                <a href="{% url 'change_password'%}" class="btn btn-dark">Change Password</a>
                <a href="{% url 'logouts'%}" class="btn btn-danger float-right">Logout</a>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'startexam'%}">
                    {% csrf_token %}
                    <table class="table table-bordered table-hover">
                        <tr>
                            <td>Select Course:</td>
                            <td>
                                <select name="selectCourse"  required>
                                    <option value="">Select Course</option>
                                    {% for crs in courses%}
                                    <option value="{{crs.id}}">{{crs.name}}</option>
                                    {% endfor%}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary">Start Exam</button>

                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <ul>
                                <li>1) You have 15 Question </li>
                                <li>2) You have 15 Minete Time to solve it after 15 Minete Your Form is Saved </li>
                                <li>3) Each Question has 1 Number </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </div>

</div>


{% endblock %}