<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ajay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<script>
    var timer2 = "15:01";
var interval = setInterval(function() {


  var timer = timer2.split(':');
  //by parsing integer, I avoid all extra string processing
  var minutes = parseInt(timer[0], 10);
  var seconds = parseInt(timer[1], 10);
  --seconds;
  minutes = (seconds < 0) ? --minutes : minutes;
  if (minutes < 0) clearInterval(interval);
  seconds = (seconds < 0) ? 59 : seconds;
  seconds = (seconds < 10) ? '0' + seconds : seconds;
  //minutes = (minutes < 10) ?  minutes : minutes;
  $('.countdown').html(minutes + ':' + seconds);
  timer2 = minutes + ':' + seconds;
}, 1000);

</script>
<div class="p-4 mb-2 text-center bg-info text-white">
    <h1>Your College Name Here</h1>
    <p>Course:Python Time: <span class="countdown"></span></p>
    <p></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h3>Python</h3>

        </div>

        <div class="col-sm-10">
            <form method="post">
                {% csrf_token %}
                {% for q in allQuestion%}
                <div class="one-question">
                    <div class="card">
                        <div class="card-header bg-primary text-white">{{ forloop.counter}}) {{q.question}}</div>

                        <ul class="list-group">

                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op1"
                                                               onclick="selectOption(this)"> {{q.op1}}
                            </li>
                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op2"
                                                               onclick="selectOption(this)"> {{q.op2}}
                            </li>
                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op3"
                                                               onclick="selectOption(this)"> {{q.op3}}
                            </li>
                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op4"
                                                               onclick="selectOption(this)"> {{q.op4}}
                            </li>
                        </ul>

                    </div>
                    <hr>
                </div>
                {% endfor%}

                <button type="button" onclick="saveQuestions();" class="btn btn-success">Finish Exam</button>
            </form>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<script>
    Questions =[]
    var Qdata =function(id,opt){
        this.id =id;
        this.opt =opt;
    };
    function addQuestion(id,opt){
        for(var i in Questions){
            if (Questions[i].id===id){
                Questions[i].opt =opt;
                return;
            }
        }
    var qdata = new Qdata(id,opt);
    Questions.push(qdata);
    }

function selectOption(get_data){
    oid =get_data.name;
    option =get_data.value;
    addQuestion(oid,option);
    console.log(Questions);
}

function saveQuestions(){

    $.ajax({
        url:"{% url 'count_quetion'%}",
        type:"get",
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: {'data1': JSON.stringify(Questions)},
        success:function(data2){

        window.location = "{% url 'endexam'%}";


        }
    });

}



</script>
</body>
</html>
