{% extends 'main.html'%}
{% block title%}Add customer {% endblock%}
{% block body %}
<script>


</script>
{% load static %}

<div class="p-4 mb-2 text-center bg-white text-primary">
    <div class="row">
        <div class="col-md-2">
            <img src="{% static 'logo.png'%}" class="img-thumbnail" width="100%">
        </div>
        <div class="col-md-9">
            <h1>AKS UNIVERSITY, SATNA</h1>
            <h5 class="text-muted">The University with Difference</h5>
            <p>Course:Python Time: <span class="countdown"></span></p>
<!--            <p>Course:End Exam Time: <span class="endtime"></span></p>-->
        </div>
    </div>

    <p></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3 m-0 p-0">
            <div class="card">
            <img src="{{one_student.photo.url}}" class="img-thumbnail" width="100%">
            <div class="card-body">
                <h4 class="text-danger">{{one_student.name}}</h4>
                <h4 class="text-primary">Roll No :{{one_student.rollno}}</h4>


            </div>
            <div class="card-footer">
                <a href="{% url 'logouts'%}" class="btn btn-danger">Logout</a></div>
        </div>

        </div>

        <div class="col-sm-9 m-0 p-0 pl-2">
            <form method="post">
                {% csrf_token %}
                {% if allQuestion %}
                {% for q in allQuestion%}
                <div class="one-question">
                    <div class="card">
                        <div class="card-header bg-primary text-white">{{ forloop.counter}}) {{q.question}}</div>

                        <ul class="list-group">

                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op1"
                                                               onclick="selectOption(this)"> {{q.op1}}
                            </li>
                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op2"
                                                               onclick="selectOption(this)"> {{q.op2}}
                            </li>
                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op3"
                                                               onclick="selectOption(this)"> {{q.op3}}
                            </li>
                            <li class="list-group-item"><input type="radio" name="{{q.pk}}" value="op4"
                                                               onclick="selectOption(this)"> {{q.op4}}
                            </li>
                        </ul>

                    </div>
                    <hr>
                </div>
                {% endfor%}

                {% else%}
                <li class="list-group-item">  There are no Question For This Course
                            </li>
                <br>
                {% endif%}


                <button type="button" onclick="saveQuestions();" class="btn btn-success">Finish Exam</button>
            </form>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<script>
runcounter();
    Questions =[]
    var Qdata =function(id,opt){
        this.id =id;
        this.opt =opt;
    };
    function addQuestion(id,opt){
        for(var i in Questions){
            if (Questions[i].id===id){
                Questions[i].opt =opt;
                return;
            }
        }
    var qdata = new Qdata(id,opt);
    Questions.push(qdata);
    }

function selectOption(get_data){
    oid =get_data.name;
    option =get_data.value;
    addQuestion(oid,option);
    console.log(Questions);
}

function saveQuestions(){

    $.ajax({
        url:"{% url 'count_quetion'%}",
        type:"get",
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: {'data1': JSON.stringify(Questions)},
        success:function(data2){
        window.location = "{% url 'endexam'%}";


        }
    });

}


</script>
{% endblock %}